body{
    font-family: Arial, Helvetica, sans-serif;
    background: #00aeff91;
}

h1 {
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;

}
.kotak{
    width: 350px;
    background: white;
    margin: 80px auto;
    padding: 30px 20px;
}
label {
    font-size: 15pt;
    font-weight: bold;
}
.form{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: 12pt;
    margin-bottom: 20px;
}
.tombol{
    background: #1f06ff;
    color: rgb(255, 255, 255);
    font-size: 15pt;
    width: 100%;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-weight: bold;
}
